<div class="card">
  <div class="card-header">
    Payment Invoice
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-3">
        <div class="row">
          <div class="col-md-6">Amount</div>
          <div class="col-md-1">:</div>
          <div class="col-md-5">{{detail.price}}</div>
        </div>
        <div class="row">
          <div class="col-md-6">Subscription Type</div>
          <div class="col-md-1">:</div>
          <div class="col-md-5">{{detail.subcriptionType}}</div>
        </div>
      </div>
    </div>
  </div>
</div>